@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	dsplay: inline-block;
	padding: 0.75em 1em;
	background-color: #F9AA27;
	background-image: linear-gradient(to bottom, #FBCF78, #FD9447);
	border-radius: 15px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	border: 0;
	color: #fff;
	font-weight: bold;	
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #5d8432;
	background-image: linear-gradient(to bottom, #5d8432, #3b6210);	
}
