@charset "UTF-8";
/* CSS Document */

footer {
	background-color:rgba(175,244,255,1.00);
	border-radius: 30px;
	overflow: hidden;
	margin-top: 1rem;
}

footer a, 
footer a:link,
footer a:visited {
	border: 0;	
}

footer p {
	color:rgba(29,139,255,1.00);	
	padding: 1rem;
}

@media only screen and (min-width: 30em) {
	
	footer {
		padding: 4rem;
	}
	
}

@media only screen and (min-width: 56em) {

	img {
		float: right;
		
	}

}

