@charset "UTF-8";
/* CSS Document */

body {
	background-image:;	
}

header {
	background-color: rgba(250, 238, 120, 1);	
}

.logo {
	width: 20%;
	float: left;
	position: relative;
	bottom: 3rem;
}

nav ul {
	/*position:absolute;*/
	width:100%;
	/*height: 3rem;*/
	/*top: 8rem;*/
	text-align: center;
	background-color: #2BB4B4; /* the line */
	font-size: 2rem;
	padding: 0;
}

nav li {
	display:inline; /* The navigations blocks & its position */
}

nav a,
nav a:link,
nav a:visited {
	display: inline-block;
	height: 3rem;
	margin-top: 0 2%;
	padding: .8rem 3%;
	color: #568692; /*the font colour*/
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
	background-color: #FFF; /* the colour changes when cursor is over */ 
}

/* Toggle Nav CSS */

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 16px;	
	right: 5%;
	
	background: #FFB028 url('../images/nav-icon.svg') no-repeat center center;
	/* background-color || background-image || background-repeat || background-position*/
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: #00DCFA;
}

.nav ul {
	width:100%;
	text-align: center;
	font-size: 1rem;
}

.nav li {
	display: block; /* The navigations blocks & its position */
}

.nav a,
.nav a:link,
.nav a:visited {
	background-color: #F7E8BB; /* the line */

	display: block; /* The navigations blocks & its position */
	height: 2rem;
	margin-top: 0 2%;
	padding: .8rem 3%;
	color: rgba(0,167,248,1.00); /*the font colour*/
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #FFA849; /* the colour changes when cursor is over */ 
}

nav a:hover,
nav a:focus,
nav a:active, 
.active{
	background-color: #C91417; /* the colour changes when cursor is over */ 
}

.nav-top{
	display: none;
}

.nav-top[data-state="expanded"]{
	display: block;
	/*position: relative;
	margin-left: -3rem;*/

}

.current,
.current:link,
.current:visited{
	color: orange;
	
}

@media only screen and (min-width: 21em) {

	.nav {
		width:100%;
		/*height: 3rem;*/
		text-align: center;
		font-size: 1rem;
	}
	
	.nav a:hover,
	.nav a:focus,
	.nav a:active {
		background-color: #FFB923; /* the colour changes when cursor is over */ 
	}
}


@media only screen and (min-width: 26em) {

	.nav ul {
		top: 4rem;
	}
	
	.nav li {
		display:inline; /* The navigations blocks & its position */
	}

	.nav-btn, .nav-btn:link {
		visibility: hidden;
	}
	
	.nav-top{
		display: block;
	}
	
	.nav a,
	.nav a:link,
	.nav a:visited {
		display: inline-block;
		height: 2rem;
		margin-top: 0 2%;
		padding: .8rem 3%;
		color: #000; /*the font colour*/
		text-decoration: none;
		border-radius: 10px;
		border: 10px rgba(68,177,242,1.00);
		color: hsla(199, 82%, 49%, 1);
	}


}

@media only screen and (min-width: 42em) {
	
	
}

.banner {
	background: rgba(59,203,187,1.00) url("../images/banner.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
	padding: 5rem 3rem 3rem;
	margin-top: 1rem;
}