@charset "UTF-8";
/* CSS Document */

.img-flex {
	width: 100%;
	display: block;	
}

.product {
	background-color: #FFEBC7;
	border-radius: 30px;
	padding: 2em;	
}

.btn tera{
	text-align: center;
}

