# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Martine Cormier}
- {Columbina Anzivino}
- {Stephen Pollock}
- {Shawna Guy}
- {Jake Asiddao}
- {Gregory Leblanc}

## Tasks

1. {Buy a pine scented candle and get back to the home page}
2. {Buy a bees wax candle that has a twist to it}
3. {Find a negative side affect to regualr wax candles}

---

## Individual Results & Observations

### {Martine Cormier}

- {She had no problem finding a scented candle}
- {Going back home was the only problem}
- {She had to wait a while to find the information}

### {Columbina Anzivino}

- {She couldn't figure out which candle to pick from when she was on the shopping page}
- {The search field didn't give her the right alt tag (it said "edit field"}


### {Stephen Pollock}

- {Had no trouble}
- {Again, when he went to find the search bar, it only said "edit text" and then "search button"}

### {Shawna Guy}

- {Found the negative side affects but when it came to going back, it got mized up}
- {Had no other trouble in getting to the "about" page}


### {Jake Asiddao}

- {Needed to redo it a couple of times because he wasn't sure if the about page was the right one}


### {Gregory Leblanc}

- {He was able to do everything}
- {he only had trouble with the "search field" but not the actual button}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- { Many of the people had a hard time with the search field}
- { Most had no problem, getting to where they were asked to go}
- { Everyone was able to get back home after buying the candle}

### Serious, Causes Frustration, May Hinder Completion

- {Again, the search field was saying "edit text" instead of "search field"}

### Minor, Annoying, Won’t Hinder Completion

- {Some people get confused between beeswax candles and regular wax candles}
