# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Martine Cormier}
- {Columbina Anzivino}
- {Stephen Pollock}
- {Shawna Guy}
- {Jake Asiddao}
- {Gregory Leblanc}

## Tasks

1. {Find information on a pine scented candle}
2. {Buy a bees wax candle that has a twist to it}
3. {Find a negative side affect to regualr wax candles}

---

## Individual Results & Observations

### {Martine Cormier}

- {She had no problem finding a scented candle}
- {The candles did get mixed up at one point}

### {Columbina Anzivino}

- {When it came to picked bees or wax it was mixed up}


### {Stephen Pollock}

- {Had no trouble}

### {Shawna Guy}

- {Found the negative side affects but when it came to going back, it got mized up}
- {Had no other trouble in getting to the "about" page}


### {Jake Asiddao}

- {Needed to redo it a couple of times}


### {Gregory Leblanc}

- {He was able to do everything}
- {he only had trouble with the "back" buttons}


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- { Many of the people had a hard time with the back buttons}
- { Most had no problem, getting to where they were asked to go}

### Serious, Causes Frustration, May Hinder Completion

- {Again, the back buttons were mixed up}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {A lot of people get confused between beeswax candles and regular wax candles}
