# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Michelle Dugas}
- {Jake Asiddao}
- {Nichole Veiro}

## Tasks

1. {Find out 5 facts about beeswax candles and 5 different scents of wax candles}
2. {Find out the price and information for a Cranberry scented candle}
3. {Buy a candle that looks like a beehive}

---

## Individual Results & Observations

### Michelle Dugas

- {She went through the whole site to find the page}
- {She went to the individual candles instead of about}
- {She didn't ask questions}
- {She was able to find the right page with the info (about)}

### Jake Asiddao

- {He clicked on Shop to bring him to the wax link that brought him to the pages}
- {He first just browsed the home page}
- {He had no questions}
- {Didn't have any problems finding the page about the candle}


### Nichole Verio

- {She clicked shop which lead her to the two choices and she clicked on Bees and found the beehive picture}
- {She didn't have any problems deciding whether it would be under bees or wax}
- {She didn't ask any questions}
- {It was fast and she was able to purchase the candle without any problems}


---

## Trends

- {2 out of 3 people browsed my home page first but I feel like that was just because that was page that it started on}

### Critical, Needs Fixing, Unable to Complete

- There were no tasks that were unable to complete.


### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- None