# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Michelle Dugas}
- {Jake Asiddao}
- {Nichole Veiro}

## Tasks

1. {Find out 5 facts about beeswax candles and 5 different scents of wax candles}
2. {Find out the price and information for a Cranberry scented candle}
3. {Buy a candle that looks like a beehive}

---

## Individual Results & Observations

### Michelle Dugas

- {She went through the whole site to find the page}
- {She went to the individual candles instead of about}
- {She didn't ask questions}
- {She was able to find the right page with the info (about)}

### Jake Asiddao

- {He clicked on Shop to bring him to the wax link that brought him to the pages}
- {He first just browsed the home page}
- {He had no questions}
- {Didn't have any problems finding the page about the candle}


### Nichole Verio

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.