@charset "UTF-8";
/* CSS Document */

footer {
	background-color:#2BB4B4;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 1rem;
}

footer a, 
footer a:link,
footer a:visited {
	border: 0;	
}

footer p {
	color:hsla(44,96%,53%,1.00);	
}

@media only screen and (min-width: 25em) {
	
	footer {
		padding: 1rem;
	}
	
}


@media only screen and (min-width: 30em) {
	
	footer {
		padding: 2rem;
	}
	
}



