@charset "UTF-8";
/* CSS Document */

.img-flex {
	width: 100%;
	display: block;	
}

.product {
	background-color: #FFEBC7;
	border-radius: 30px;
	padding: 2rem;
	margin: 0 auto;
}

.btn tera{
	text-align: center;
}

.text {
		padding: .25rem	
	}


@media only screen and (min-width: 33em) {

	
	.img-flex {
		width: 100%;	
	}
	
	.text {
		padding: .5rem	
	}
	
}

@media only screen and (min-width: 45em) {

	.box {
	width: 90%;	
	}

}