<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<title>Candles</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1" >
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
</head>

<header>

	<div id="tfheader">
	
	<h1>The Candle Company</h1>
	
	<h2>...Every scent to enrich every room in your house.</h2>
	
	
		<form id="tfnewsearch" method="get" action="http://www.google.com">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
	
	<a href="#nav" class="nav-btn hide-text">Navigation</a> 
	
	<nav>			
			<ul class="list-group nav nav-top data-state="collapsed"">
				<li class="list-group-item list-group-item-inline"><a href="#">Home</a></li>
				<li class="list-group-item list-group-item-inline"><a href="#">Candles</a></li>
				<li class="list-group-item list-group-item-inline"><a href="#">About</a></li>
				<li class="list-group-item list-group-item-inline"><a href="#">Contact</a></li>
			</ul>			
		</nav>

</header>

{{content}}

<footer>

	<a href="https://www.facebook.com/"><img src="../images/facebook.png" alt="Facebook">
	<a href="https://twitter.com/"><img src="../images/twitter.png" alt="Twitter">
	<a href="https://www.stumbleupon.com/return"><img src="../images/stumbleupon.png" alt="Stumbleupon">
	
	<p>© Copy Right Alissa Dicaire. All Rights reserved.</p> 
	
	<p kilo>All information and/or images used in this site is property of the company.</p>

</footer>

<body>
</body>
</html>
