<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<title>{{page.title}}·Candles</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1" >
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
</head>

<header>

<img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="">

	<div id="tfheader">
	
		<form id="tfnewsearch" method="get" action="{{site.baseurl}}/search/">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
	
	<a href="#nav" class="nav-btn hide-text">Navigation</a> 
	
	<nav>			
			<ul class="list-group nav nav-top data-state="collapsed"">
				<li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/' %}current{% endif%}" href="{{site.baseurl}}/">Home</a>
				<li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/shop/' %}current{% endif%}" href="{{site.baseurl}}/shop/">Shop</a>
				<li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/about/' %}current{% endif%}" href="{{site.baseurl}}/about/">About</a>
			
			</ul>			
		</nav>

</header>

{% if page.showbanner %}
<div class="banner">
	<h2>{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

<footer>

	<a href="https://www.facebook.com/"><img src="{{site.baseurl}}/images/facebook.png" alt="Facebook">
	<a href="https://twitter.com/"><img src="{{site.baseurl}}/images/twitter.png" alt="Twitter">
	<a href="https://www.stumbleupon.com/return"><img src="{{site.baseurl}}/images/stumbleupon.png" alt="Stumbleupon">
	
	<p>© Copy Right Bees Candles. All Rights reserved.</p> 

</footer>

<script src="{{site.baseurl}}/js/nav.js"></script>

<body>
</body>
</html>